* {
    margin: 0;
    padding: px;
    box-sizing: border-box;
}

.container {
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    gap: 10px;
    /* border: 4px solid black; */
    padding: 10px;
}

.container > div {
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
}


.box1 {
    grid-column: 1 / 3; 
    grid-row: 1;

}

.box2 {
    grid-column: 3 / 5; 
    grid-row: 1;
}

.box3 {
    grid-column: 1 / 3; 
    grid-row: 2;
}

.box4 {
    grid-column: 3 / 4; 
    grid-row: 2;
}
.box5 {
    grid-column: 4 / 5; 
    grid-row: 2;
}

.box6 {
    grid-column: 1 / 2;
    grid-row: 3;
}
.box7 {
    grid-column: 2 / 3;
    grid-row: 3;
}
.box8 {
    grid-column: 1 / 2;
    grid-row: 4;
}
.box9 {
    grid-column: 2 / 3;
    grid-row: 4 / 6; 
}
.box10 {
    grid-column: 1 / 2;
    grid-row: 5;
}

.box11 {
    grid-column: 3 / 5; 
    grid-row: 3 / 6;    
}