* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    /* font-size: 3rem; */
    Color: black;
    text-align: center;
    /* border-radius: 0.3em; */
}

.box1 {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100px;
    height: 100px;
    background: red;
    line-height: 100px;
    /* z-index: 1; */
}
.box2 {
    position: absolute;
    top: 0em;
    right: 0;
    width: 100px;
    height: 100px;
    background:blue;
    line-height: 100px;
}

.box3 {
    position: absolute;
    bottom: 0em;
    left: 0em;
    width: 100px;
    height: 100px;
    background:yellow;
    line-height: 100px;
}

.box4 {
    position: absolute;
    bottom: 0em;
    right: 0em;
    width: 100px;
    height: 100px;
    background:green;
    line-height: 100px;
}

