
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    color: #0056b3; 
}

.container {
    max-width: 100000px;
    margin: 0 auto;
    /* border: 2px solid black;  */
}


.header {
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    
    border: 3px solid #0056b3; 
    border-radius: 10px;       
    padding: 20px;
    margin-bottom: 20px;       
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #0056b3;
}


.row-1 {
    display: flex;   
    gap: 20px;       
    margin-bottom: 20px;
}

.row-1 .box {
    flex: 1;        
    height: 150px;   
}


.row-2 {
    display: flex;   
    gap: 20px;       
    margin-bottom: 20px;
}

.row-2 .box-3, 
.row-2 .box-5 {
    flex: 1;         
}

.row-2 .box-4 {
    flex: 2;         
    
}


.box {
    border: 3px solid #0056b3; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 40px;
    color: #ff8c00; 
    font-family: 'Comic Sans MS', cursive, sans-serif; /* ฟอนต์ลายมือ */
    height: 120px; 
}


.row-1 .box {
    height: 150px;
}


.footer {
    border: 3px solid #0056b3;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}